# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# DVC
.dvc/
*.dvc
data/
models/
reports/
logs/
experiments/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.log
*.tmp
